.terms {
  h3 {
    font-size: initial;
  }

  ul {
    list-style: none;

    li {
      a {
        color: var(--color);
        text-decoration: none;

        &:hover {
          color: var(--accent);
          text-decoration: underline;
        }
      }
    }

    li:not(:empty):before {
      content: '-';
      position: absolute;
      left: -20px;
      color: var(--accent);
    }
  }
}