<article class="post on-list">
    <h2 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h2>

    <div class="post-meta">
      {{- if .Date -}}
        <time class="post-date">
        {{- partial "post-date" . -}}
        </time>
      {{- end -}}
      {{- with .Params.Author -}}
        <span class="post-author">{{ . }}</span>
      {{- end -}}
      <!-- comments counter -->
      {{ partial "comments_counter.html" . }}
      {{ partial "post-taxonomies.html" . }}
    </div>

    {{ partial "cover.html" . }}

    <div class="post-content">
      {{ if .Params.showFullContent }}
        {{ .Content }}
      {{ else if .Description }}
        <p>{{ .Description | markdownify }}</p>
      {{ else }}
        {{ .Summary }}
      {{ end }}
    </div>

    {{ partial "post-tags.html" . }}
    
    {{ if not .Params.showFullContent }}
      <div>
        <a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
        <!--  <a class="read-more button inline" href="{{ .RelPermalink }}">[{{ $.Site.Params.ReadMore }}]</a> -->
      </div>
    {{ end }}

</article>