<article class="post on-list">
    <h2 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h2>

    <div class="post-meta">
      {{- if .Date -}}
        <time class="post-date">
        {{- partial "post-date" . -}}
        </time>
      {{- end -}}
      {{- with .Params.Author -}}
        <span class="post-author">{{ . }}</span>
      {{- end -}}
      {{ partial "post-taxonomies.html" . }}
      
      {{ partial "comments_counter.html" . }} <!-- comments counter -->
      
      {{ partial "post-reading-time.html" . }}
    </div>

    {{ partial "post-tags.html" . }}
    
    {{ if not .Params.showFullContent }}
      <div>
        <a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
      </div>
    {{ end }}

</article>